<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmm.drp.dao.PersonCartDao">
  <resultMap id="BaseResultMap" type="com.gmm.entity.drp.PersonCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="personid" jdbcType="INTEGER" property="personid" />
    <result column="personname" jdbcType="VARCHAR" property="personname" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="retailprice" jdbcType="DECIMAL" property="retailprice" />
    <result column="marketprice" jdbcType="DECIMAL" property="marketprice" />
    <result column="goodsimage" jdbcType="VARCHAR" property="goodsimage" />
    <result column="goodsnum" jdbcType="INTEGER" property="goodsnum" />
    <result column="goodsdeliverytime" jdbcType="INTEGER" property="goodsdeliverytime" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="catsid" jdbcType="INTEGER" property="catsid" />
    <result column="catsname" jdbcType="VARCHAR" property="catsname" />
    <result column="goodsgrad" jdbcType="INTEGER" property="goodsgrad" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, personid, personname, goodsid, goodsname, retailprice, marketprice, goodsimage, 
    goodsnum, goodsdeliverytime, createtime, catsid, catsname, goodsgrad,goodsgradid
  </sql>

  <select id="selectByExample" parameterType="com.gmm.drp.vo.PersonCartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_personcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_personcart
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_personcart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gmm.drp.vo.PersonCartExample">
    delete from t_personcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.gmm.drp.entity.PersonCart">
    insert into t_personcart (personid, personname, goodsid, goodsname, retailprice,marketprice, goodsimage, goodsnum,goodsdeliverytime, createtime, catsid, catsname,
     goodsgrad,goodsgradid) values ( #{personid}, #{personname}, #{goodsid}, #{goodsname}, #{retailprice},#{marketprice}, #{goodsimage}, #{goodsnum},#{goodsdeliverytime},
     #{createtime}, #{catsid},#{catsname}, #{goodsgrad},#{goodsgradid})
  </insert>
  <insert id="insertSelective" parameterType="com.gmm.drp.entity.PersonCart">
    insert into t_personcart
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="personid != null">
        personid,
      </if>
      <if test="personname != null">
        personname,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="goodsname != null">
        goodsname,
      </if>
      <if test="retailprice != null">
        retailprice,
      </if>
      <if test="marketprice != null">
        marketprice,
      </if>
      <if test="goodsimage != null">
        goodsimage,
      </if>
      <if test="goodsnum != null">
        goodsnum,
      </if>
      <if test="goodsdeliverytime != null">
        goodsdeliverytime,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="catsid != null">
        catsid,
      </if>
      <if test="catsname != null">
        catsname,
      </if>
      <if test="goodsgrad != null">
        goodsgrad,
      </if>
      <if test="goodsgrad != null">
        goodsgradid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="personid != null">
        #{personid,jdbcType=INTEGER},
      </if>
      <if test="personname != null">
        #{personname,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="retailprice != null">
        #{retailprice,jdbcType=DECIMAL},
      </if>
      <if test="marketprice != null">
        #{marketprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsimage != null">
        #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsnum != null">
        #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="goodsdeliverytime != null">
        #{goodsdeliverytime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="catsid != null">
        #{catsid,jdbcType=INTEGER},
      </if>
      <if test="catsname != null">
        #{catsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsgrad != null">
        #{goodsgrad,jdbcType=INTEGER},
      </if>
      <if test="goodsgradid != null">
        #{goodsgradid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <select id="countByExample" parameterType="com.gmm.drp.vo.PersonCartExample" resultType="java.lang.Integer">
    select count(*) from t_personcart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>


  <update id="updateByExampleSelective" parameterType="map">
    update t_personcart
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.personid != null">
        personid = #{record.personid,jdbcType=INTEGER},
      </if>
      <if test="record.personname != null">
        personname = #{record.personname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsid != null">
        goodsid = #{record.goodsid,jdbcType=INTEGER},
      </if>
      <if test="record.goodsname != null">
        goodsname = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.retailprice != null">
        retailprice = #{record.retailprice,jdbcType=DECIMAL},
      </if>
      <if test="record.marketprice != null">
        marketprice = #{record.marketprice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsimage != null">
        goodsimage = #{record.goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsnum != null">
        goodsnum = #{record.goodsnum,jdbcType=INTEGER},
      </if>
      <if test="record.goodsdeliverytime != null">
        goodsdeliverytime = #{record.goodsdeliverytime,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.catsid != null">
        catsid = #{record.catsid,jdbcType=INTEGER},
      </if>
      <if test="record.catsname != null">
        catsname = #{record.catsname,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsgrad != null">
        goodsgrad = #{record.goodsgrad,jdbcType=INTEGER},
      </if>
      <if test="record.goodsgradid != null">
        goodsgradid = #{record.goodsgradid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map">
    update t_personcart
    set
    id=#{id},personid = #{personid},personname = #{personname},goodsid = #{goodsid},goodsname = #{goodsname},retailprice = #{retailprice},
    marketprice = #{marketprice},goodsimage = #{goodsimage},goodsnum = #{goodsnum},goodsdeliverytime = #{goodsdeliverytime},createtime = #{createtime},
    catsid = #{catsid},catsname = #{catsname},goodsgrad = #{goodsgrad},goodsgradid=#{goodsgradid}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>


  <update id="updateByPrimaryKeySelective" parameterType="com.gmm.drp.entity.PersonCart">
    update t_personcart
    <set>
      <if test="personid != null">
        personid = #{personid,jdbcType=INTEGER},
      </if>
      <if test="personname != null">
        personname = #{personname,jdbcType=VARCHAR},
      </if>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null">
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="retailprice != null">
        retailprice = #{retailprice,jdbcType=DECIMAL},
      </if>
      <if test="marketprice != null">
        marketprice = #{marketprice,jdbcType=DECIMAL},
      </if>
      <if test="goodsimage != null">
        goodsimage = #{goodsimage,jdbcType=VARCHAR},
      </if>
      <if test="goodsnum != null">
        goodsnum = #{goodsnum,jdbcType=INTEGER},
      </if>
      <if test="goodsdeliverytime != null">
        goodsdeliverytime = #{goodsdeliverytime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="catsid != null">
        catsid = #{catsid,jdbcType=INTEGER},
      </if>
      <if test="catsname != null">
        catsname = #{catsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsgrad != null">
        goodsgrad = #{goodsgrad,jdbcType=INTEGER},
      </if>
      <if test="goodsgradid != null">
        goodsgradid = #{goodsgradid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.gmm.drp.entity.PersonCart">
    update t_personcart set personid = #{personid},personname = #{personname},goodsid = #{goodsid},goodsname = #{goodsname},retailprice = #{retailprice},
    marketprice = #{marketprice},goodsimage = #{goodsimage},goodsnum = #{goodsnum},goodsdeliverytime = #{goodsdeliverytime},createtime = #{createtime},
    catsid = #{catsid},catsname = #{catsname},goodsgrad = #{goodsgrad},goodsgradid=#{goodsgradid} where id = #{id}
  </update>
</mapper>